<template>
  <div class="self">
    <Home></Home>
    <div class="m-self">
      <div class="modal is-active" v-if="visible">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Yeni Belge</p>
            <button class="delete" @click="close" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="select">
              <div class>Belge Türü</div>
              <select v-model="docs.selected">
                <option>Disiplin Cezası Durum Belgesi</option>
                <option>Geçici Mezuniyet</option>
                <option>Öğrenci Belgesi</option>
              </select>
            </div>
            <div class="input-bar">
              <div class="i-l">
                <div class="i-right">
                  <label for>Adet</label>
                </div>
              </div>
              <div class="input-i">
                <input type="text" v-model="docs.piece" name placeholder="Adet">
              </div>
            </div>
            <div class="input-bar">
              <div class="i-l">
                <div class="i-right">
                  <label for>Verilecek Kurum</label>
                </div>
              </div>
              <div class="input-i">
                <input type="text" name v-model="docs.insti" placeholder="Verilecek kurum" value>
              </div>
            </div>
            <div class="input-bar">
              <div class="i-l">
                <div class="i-right">
                  <label for>Açıklama</label>
                </div>
              </div>
              <div class="input-i">
                <textarea v-model="docs.desc"></textarea>
              </div>
            </div>
            <div class="user-error" v-if="err">Bütün alanları doldurunuz veya seçiniz</div>
          </section>
          <footer class="modal-card-foot">
            <button @click="addDoc" class="button is-danger">Kaydet</button>
            <button @click="close" class="button">İptal</button>
          </footer>
        </div>
      </div>
      <div class="message is-link">
        <div class="message-header">
          <p>Belge Talep</p>
          <a @click="showDoc" class="button is-small is-success">
            <i class="fa fa-plus"></i> Yeni Talep
          </a>
        </div>
        <div class="message-body">
          <div class="th">
            <ul>
              <li class="id">Id</li>
              <li class="selected">Belge Türü</li>
              <li class="piece">Adet</li>
              <li class="date">Talep Tarihi</li>
              <li class="desc">Açıklama</li>
              <li class="insti">Verilecek Kurum</li>
              <li class="remBut">İşlemler</li>
              <div class="clear"></div>
            </ul>
          </div>
          <div class="td">
            <ul class="first-ul">
              <li class="first-li" v-bind:key="i.id" v-for="i in loggedUser">
                <ul v-for="(j, index) in i.docs" v-bind:key="j.id">
                  <li class="id">{{index+1}}</li>
                  <li class="selected">{{j.selected}}</li>
                  <li class="piece">{{j.piece}}</li>
                  <li class="date">{{j.date}}</li>
                  <li class="desc">{{j.desc}}</li>
                  <li class="insti">{{j.insti}}</li>
                  <li class="remBut">
                    <button @click="rem(index)" class="button is-danger is-small">Sil</button>
                  </li>
                  <div class="clear"></div>
                </ul>
              </li>
              <div class="clear"></div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./Home.vue";
export default {
  name: "Document",
  components: {
    Home
  },
  data() {
    return {
      err: false,
      loggedUser: [],
      users: [],
      docs: [
        {
          type: "",
          piece: "",
          insti: "",
          desc: "",
          selected: "",
          date: ""
        }
      ],
      visible: false
    };
  },
  methods: {
    close() {
      this.visible = false;
    },
    showDoc() {
      this.visible = true;
    },
    addDoc() {
      if (
        !this.docs.selected ||
        !this.docs.piece ||
        !this.docs.insti ||
        !this.docs.desc
      ) {
        this.err = true;
        setTimeout(() => {
          this.err = false;
        }, 3000);
      } else {
        var piece = Number(this.docs.piece);
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
          dd = "0" + dd;
        }
        if (mm < 10) {
          mm = "0" + mm;
        }
        today = mm + "/" + dd + "/" + yyyy;
        var doc = {
          id: this.docs.length,
          type: this.docs.type,
          piece: this.docs.piece,
          insti: this.docs.insti,
          desc: this.docs.desc,
          selected: this.docs.selected,
          date: today
        };
        this.docs.push(doc);
        localStorage.setItem("docs", JSON.stringify(this.docs));
        this.loggedUser[0].docs.push(doc);
        for (var i = 0; i < this.users.length; i++) {
          if (this.users[i].id == this.loggedUser[0].id) {
            this.users[i] = this.loggedUser[0];
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
            localStorage.setItem("users", JSON.stringify(this.users));
            break;
          }
        }
        this.close();
      }
    },
    rem(index) {
      this.loggedUser[0].docs.splice(index, 1);
      localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
      for (var i = 0; i < this.users.length; i++) {
        if (this.loggedUser[0].id == this.users[i].id) {
          this.users[i].docs = this.loggedUser[0].docs;
        }
      }
    }
  },
  mounted() {
    this.loggedUser = JSON.parse(localStorage.getItem("loggedUser"));
    this.users = JSON.parse(localStorage.getItem("users"));
    if (localStorage.setItem("docs", JSON.stringify(this.docs))) {
      this.docs = JSON.parse(localStorage.getItem("docs"));
    } else {
      localStorage.setItem("docs", JSON.stringify(this.docs));
    }
  },
  watch: {
    users(newValue) {
      localStorage.setItem("users", JSON.stringify(newValue));
    }
  }
};
</script>

<style lang="scss" scoped>
.clear {
  clear: both;
}
.m-self {
  float: right;
  width: 81%;
  margin-top: 50px;
  padding: 5px 5px;
}
thead {
  tr {
    background: #e5e5e5;
  }
}
.message-header {
  a {
    i {
      margin-right: 5px;
      font-size: 9px;
    }
  }
}
.modal-card {
  width: 500px;
}
.modal-card-body {
  height: 260px;
}
.select {
  margin-left: 70px;
  div {
    margin-left: 0px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
  }
  select {
    width: 250px;
    height: 30px;
  }
}
.i-l {
  margin-top: 8px;
  float: left;
  width: 137px;
}
.i-l {
  label {
    float: right;
  }
}
.input-i {
  input {
    text-indent: 9px;
    width: 250px;
    margin-top: 6px;
    margin-left: 18px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  textarea {
    text-indent: 9px;
    width: 250px;
    margin-top: 6px;
    margin-left: 18px;
    padding: 5px 0px;
    height: 68px;
    border-radius: 3px;
    border: 1px solid #ddd;
    resize: none;
  }
}
.center {
  text-align: center;
}
.th {
  background: #e5e5e5;
  color: #333;
  ul li {
    float: left;
    padding: 10px 5px;
    border-right: 1px solid #ccc;
    &:nth-child(7n) {
      border-right: none;
    }
  }
  .id {
    width: 3%;
    text-align: center;
  }
  .selected {
    width: 30%;
    text-align: center;
  }
  .piece {
    width: 3%;
    text-align: center;
  }
  .date {
    width: 10%;
    text-align: center;
  }
  .desc {
    width: 25%;
    text-align: center;
  }
  .insti {
    width: 20%;
    text-align: center;
  }
  .remBut {
    width: 9%;
    text-align: center;
  }
}
.user-error {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  padding: 5px 5px;
  width: 308px;
  border-radius: 3px;
  margin-left: 70px;
  background: #ff2b56;
}
.td {
  border: 1px solid #ccc;
  ul li {
    &:last-child {
      border-bottom: none;
    }
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
    ul li {
      float: left;
      padding: 0px 5px;
      text-align: center;
    }
    .id {
      width: 2.95%;
    }
    .selected {
      width: 30%;
      border-left: 1px solid #ccc;
    }
    .piece {
      width: 2.9%;
      border-left: 1px solid #ccc;
    }
    .date {
      width: 10.05%;
      border-left: 1px solid #ccc;
    }
    .desc {
      text-align: left;
      width: 25.05%;
      border-left: 1px solid #ccc;
    }
    .insti {
      width: 20%;
      text-align: left;
      border-left: 1px solid #ccc;
    }
    .remBut {
      border-left: 1px solid #ccc;
      width: 9%;
      button {
        margin-top: 6px;
      }
    }
  }
}
</style>
