<template>
  <div>
    <Home></Home>
    <div class="exams">
      <div class="message is-dark">
        <div class="message-header">
          <p>Sınav Sonuçları</p>
        </div>
        <div class="message-body">
          <table
            class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
            v-if="loggedUser[0].lessons[0] != ''"
          >
            <thead>
              <tr>
                <th>Ders Adı</th>
                <th class="details">Sınıf</th>
                <th class="details">Vize</th>
                <th class="details">Final</th>
                <th class="details">Büt</th>
                <th class="details">Durum</th>
                <th class="details">Detay</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(i,index) in loggedUser[0].lessons[0]">
                <td>{{i.name}}</td>
                <td class="details">{{i.class}}</td>
                <td class="details">
                  <span v-if="i.midterm != ''">{{i.midterm}}</span>
                  <span v-if="i.midterm == ''">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </td>
                <td class="details">
                  <span v-if="i.complate">{{i.final}}</span>
                  <span v-if="!i.complate"> <router-link to="/survey">Anketi tamamlayınız</router-link> </span>
                  <span v-if="i.final == ''">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </td>
                <td class="details">
                  <span v-if="i.endExam == ''">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                  <span>{{i.endExam}}</span>
                </td>
                <td class="details">{{i.note}}</td>
                <td class="details">
                  <i class="fa fa-asterisk" @click="examStatusValue(i.note,index)" aria-hidden="true"></i>
                </td>
                <div class="modal is-active" v-if="show">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Detaylı Not Bilgisi</p>
                      <button class="delete" aria-label="close" @click="show=false"></button>
                    </header>
                    <div class="modal-card-body">
                      <div>
                        <GChart type="ColumnChart" :data="passOrFailed"/>
                      </div>
                      <div class="avarage">
                        Sınavın Genel Ortalaması :
                        <label class="ava">{{avarage}}</label>
                      </div>
                      <div class="avarage">
                        <label for class="ava">{{i.name+' '}}</label>
                        dersi sıralamanız : {{sort}}
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./Home.vue";
import { GChart } from "vue-google-charts";
export default {
  name: "exams",
  components: {
    Home,
    GChart
  },
  data() {
    return {
      show: false,
      passOrFailed: [], // passed,failed,lessonName
      exams: [],
      users: [],
      avarage: "",
      loggedUser: [],
      avarage: "",
      sort: ""
    };
  },
  methods: {
    sortOfPerson(x, index) {
      // kişi sıralaması
      x.sort(function(a, b) { // yüksekten düşüğe
        return parseFloat(b.avarage) - parseFloat(a.avarage);
      });
      console.log(x);
      if (this.loggedUser[0].lessons[index].endExam == "") {
        var myAva =
          (this.loggedUser[0].lessons[index].midterm * 40) / 100 +
          (this.loggedUser[0].lessons[index].final * 60) / 100;
      } else {
        var myAva =
          (this.loggedUser[0].lessons[index].midterm * 40) / 100 +
          (this.loggedUser[0].lessons[index].endExam * 60) / 100;
      }
      var mySort = x
        .map(function(e) {
          return e.avarage;
        })
        .indexOf(myAva);
      this.sort = mySort + 1;
    },
    generalAvarage(index) {
      // dersin indexi
      // genel ortalama hesaplar
      var count = 0;
      var lessons = [];
      var lesson = this.loggedUser[0].lessons[index];
      var totalAva = 0;
      for (let i = 0; i < this.users.length; i++) {
        if (this.users[i].lessons == "") {
        } else {
          count++;
          var a = this.users[i].lessons
            .map(function(e) {
              return e.name;
            })
            .indexOf(lesson.name);
          var b = this.users[i].lessons[a];
          var m = (b.midterm * 40) / 100;
          if (this.users[i].lessons[a].endExam == "") {
            var f = (b.final * 60) / 100;
            totalAva += m + f;
            lessons.push({
              user: this.users[i].name,
              avarage: m + f,
              lesson: b.name
            });
          } else {
            var e = (b.endExam * 60) / 100;
            totalAva += m + e;
            lessons.push({
              user: this.users[i].name,
              avarage: m + e,
              lesson: b.name
            });
          }
        }
      }
      totalAva = totalAva / count;
      this.avarage = totalAva.toFixed(2);
      this.sortOfPerson(lessons, index);
    },
    examStatusValue(statu, index) {
      // Geçen kalan sayısı
      this.passOrFailed = [];
      this.show = true;
      var passed = 0;
      var failed = 0;
      var lesson = this.loggedUser[0].lessons[index]; // geçen kalan hesaplanacak dersin adı
      for (let i = 0; i < this.users.length; i++) {
        for (let j = 0; j < this.users[i].lessons.length; j++) {
          if (this.users[i].lessons[j].name == lesson.name) {
            // seçilmiş ders ne
            var n = this.users[i].lessons[j].note;
            if (n == "FF" || n == "FD" || n == "DD" || n == "DC") {
              failed++;
            } else {
              passed++;
            }
          }
        }
      }
      this.passOrFailed.push(
        ["Durum", "Geçenler", "Kalanlar"],
        ["Sınav Durum Tablosu", passed, failed]
      );
      this.generalAvarage(index);
    },
    examSender() {
      // sınav sonuçlarını gönderen fonksiyon
      for (let index = 0; index < this.loggedUser[0].lessons.length; index++) {
        var midterm = this.loggedUser[0].lessons[index].midterm;
        var final = this.loggedUser[0].lessons[index].final;
        var endExam = this.loggedUser[0].lessons[index].endExam;
        if (midterm == "") {
          midterm = 0;
        }
        if (final == "") {
          final = 0;
        }
        if (midterm == "") {
          final = 0;
        }
        parseFloat(midterm, final, endExam, index);
        this.exams.push({
          midterm: midterm,
          final: final,
          endExam: endExam,
          index: index
        });
      }
      return this.exams;
    },
    calculateStatu(m, f, e, index) {
      // 30- FF 30-39 FD 40-49 DD 50-55 DC Geçme notu 60 CC 61-70 CB -- 71-80 BB -- 81-90 BA -- 90+ AA
      // Harf notu hesaplama
      var average = (m * 40) / 100 + (f * 60) / 100;
      if (average < 60) {
        var endAvarage = (m * 40) / 100 + (e * 60) / 100;
        if (endAvarage >= 0 && endAvarage < 30) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "FF";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 30 && endAvarage < 39) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "FD";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 40 && endAvarage < 49) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "DD";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 50 && endAvarage < 60) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "DC";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 60 && endAvarage < 70) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "CB";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 70 && endAvarage < 79) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "BB";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 80 && endAvarage < 89) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "BA";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
        if (endAvarage >= 89) {
          for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
            var i = this.loggedUser[0].lessons
              .map(function(e) {
                return e.id;
              })
              .indexOf(index);
            if (i == j) {
              this.loggedUser[0].lessons[j].note = "AA";
              localStorage.setItem(
                "loggedUser",
                JSON.stringify(this.loggedUser)
              );
              var userId = this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.loggedUser[0].id);
              this.users[userId] = this.loggedUser[0];
              localStorage.setItem("users", JSON.stringify(this.users));
            }
          }
        }
      }
      if (average == 60) {
        for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
          var i = this.loggedUser[0].lessons
            .map(function(e) {
              return e.id;
            })
            .indexOf(index);
          if (i == j) {
            this.loggedUser[0].lessons[j].note = "CC";
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          }
          var userId = this.users
            .map(function(e) {
              return e.id;
            })
            .indexOf(this.loggedUser[0].id);
          this.users[userId] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
      if (average > 60 && average < 70) {
        for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
          var i = this.loggedUser[0].lessons
            .map(function(e) {
              return e.id;
            })
            .indexOf(index);
          if (i == j) {
            this.loggedUser[0].lessons[j].note = "CB";
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          }
          var userId = this.users
            .map(function(e) {
              return e.id;
            })
            .indexOf(this.loggedUser[0].id);
          this.users[userId] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
      if (average >= 70 && average < 80) {
        for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
          var i = this.loggedUser[0].lessons
            .map(function(e) {
              return e.id;
            })
            .indexOf(index);
          if (i == j) {
            this.loggedUser[0].lessons[j].note = "BB";
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          }
          var userId = this.users
            .map(function(e) {
              return e.id;
            })
            .indexOf(this.loggedUser[0].id);
          this.users[userId] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
      if (average >= 80 && average < 90) {
        for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
          var i = this.loggedUser[0].lessons
            .map(function(e) {
              return e.id;
            })
            .indexOf(index);
          if (i == j) {
            this.loggedUser[0].lessons[j].note = "BA";
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          }
          var userId = this.users
            .map(function(e) {
              return e.id;
            })
            .indexOf(this.loggedUser[0].id);
          this.users[userId] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
      if (average >= 90) {
        for (let j = 0; j < this.loggedUser[0].lessons.length; j++) {
          var i = this.loggedUser[0].lessons
            .map(function(e) {
              return e.id;
            })
            .indexOf(index);
          if (i == j) {
            this.loggedUser[0].lessons[j].note = "AA";
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          }
          var userId = this.users
            .map(function(e) {
              return e.id;
            })
            .indexOf(this.loggedUser[0].id);
          this.users[userId] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
    },
    caller() {
      var e = this.examSender();
      for (let index = 0; index < e.length; index++) {
        this.calculateStatu(
          e[index].midterm,
          e[index].final,
          e[index].endExam,
          e[index].index
        );
      }
    }
  },
  beforeMount() {
    localStorage.setItem("passOrFailed", JSON.stringify(this.passOrFailed));
    this.users = JSON.parse(localStorage.getItem("users"));
    this.loggedUser = JSON.parse(localStorage.getItem("loggedUser"));
  },
  mounted() {
    this.passOrFailed = JSON.parse(localStorage.getItem("passOrFailed"));
    this.caller();
  },
  watch: {
    user(newValue) {
      localStorage.setItem("users", JSON.stringify(newValue));
    },
    passOrFailed(newValue) {
      localStorage.setItem("passOrFailed", JSON.stringify(newValue));
    }
  }
};
</script>

<style lang="scss" scoped>
.exams {
  float: right;
  width: 81%;
  margin-top: 50px;
  padding: 5px 5px;
  .details {
    text-align: center;
    &:nth-child(7n) {
      cursor: pointer;
      i {
        color: red;
      }
    }
  }
}
.avarage {
  margin-left: 55px;
}
.ava {
  color: hsl(348, 100%, 61%);
}
</style>
