<template>
  <div class="home">
    <div class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <p>ÖGRENCİ OTOMASYON SİSTEMİ</p>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a @click="logOut" class="button is-danger">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal is-active" v-if="visible">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Anasayfa</p>
          <button class="delete" @click="hidden" aria-label="close"></button>
        </header>
        <p
          class="modal-card-body"
        >Giriş ekranına yönlendiriliyorsunuz devam etmek istediginize emin misiniz?</p>
        <footer class="modal-card-foot">
          <button id="logOut" @click="exit" class="button is-danger">Çıkış Yap</button>
          <button @click="hidden" class="button">İptal</button>
        </footer>
      </div>
    </div>
    <div class="menu">
      <div>
        <a @click="close">
          <i class="fa fa-home"></i>Anasayfa
        </a>
      </div>
      <ul class="menu-list">
        <li>
          <router-link to="/document">
            <i class="fa fa-file" aria-hidden="true"></i> Belge Talepleri
          </router-link>
        </li>
        <li>
          <router-link to="/survey">
            <i class="fa fa-info"></i>Anketler
          </router-link>
        </li>
        <li>
          <router-link to="/self">
            <i class="fa fa-user"></i>Özlük Bilgileri
          </router-link>
        </li>
        <li>
          <router-link to>
            <i class="fa fa-money"></i>Harç Bilgileri
          </router-link>
        </li>
        <li>
          <router-link to="/takeALesson">
            <i class="fa fa-book"></i>Ders Alma
          </router-link>
        </li>
        <li>
          <router-link to>
            <i class="fa fa-list"></i> Ders Programı
          </router-link>
        </li>
        <li>
          <router-link to>
            <i class="fa fa-file"></i> Doküman Paylaşımı
          </router-link>
        </li>
        <li>
          <router-link to>
            <i class="fa fa-list"></i> Danışmanlık Formu
          </router-link>
        </li>
        <li>
          <a @click="showDiv">
            <i class="fa fa-book"></i>Ögrenim Bilgileri
            <i
              style="float:right;font-size:13px;"
              v-if="!show"
              class="fa fa-arrow-right"
            ></i>
            <i class="fa fa-arrow-down" style="float:right;font-size:13px;" v-if="show"></i>
          </a>
        </li>
        <span class="hiddenList" v-if="show">
          <ul class="menu-list">
            <li>
              <a href>Dönem Dersleri ve Sınavları</a>
            </li>
            <li>
              <router-link to="/exams">Sınav Sonuçları</router-link>
            </li>
            <li>
              <a href>Ders Alma Listesi</a>
            </li>
            <li>
              <a href>Müfredat Listesi</a>
            </li>
            <li>
              <a href>Danışman,Tez,Proje Yeterlilik Bilgileri</a>
            </li>
            <li>
              <a href>Sınav İtiraz</a>
            </li>
            <li>
              <a href>Özel Kazanım</a>
            </li>
          </ul>
        </span>
        <li>
          <router-link to>
            <i class="fa fa-file"></i>Beceri Karnesi
          </router-link>
        </li>
        <li>
          <router-link to>
            <i class="fa fa-comments"></i>Yazışmalarım
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>


<script>
import router from "../router";
export default {
  name: "home",
  data() {
    return {
      anyUser: [],
      visible: false,
      show: false,
      surveys: [
        {
          lessonId: "Mat 101",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            },
            {
              name:
                "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
              choosen: ""
            }
          ]
        },
        {
          lessonId: "İşletim Sistemi",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            },
            {
              name: "Sizce Avrupa Birliği yakın gelecekte dağılır mı?",
              choosen: ""
            }
          ]
        },
        {
          lessonId: "Lineer Cebir",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            },
            {
              name: "Ermenistan denince aklınıza ilk gelenler nelerdir?",
              choosen: ""
            }
          ]
        },
        {
          lessonId: "Yazılım Mühendisliği",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" },
            { name: "Yazılım Mühendisliği", choosen: "" }
          ]
        },
        {
          lessonId: "Fizik 101",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            },
            {
              name:
                "Propaganda oluşturma tekniklerinden hangilerini biliyorsunuz?",
              choosen: ""
            }
          ]
        },
        {
          lessonId: "Fizik 102",
          name: "Öğretim Görevlesi Puanlama",
          startDate: "15.05.2018",
          endDate: "21.10.2018",
          complate: false,
          quests: [
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" },
            { name: "Fizik 102", choosen: "" }
          ]
        }
      ]
    };
  },
  methods: {
    logOut() {
      localStorage.removeItem("loggedUser");
      localStorage.removeItem("surveys");
      localStorage.removeItem("takesLessons");
      localStorage.removeItem("periodOfLesson");
      localStorage.removeItem("passOrFailed");
      router.push({
        name: "welcome"
      });
    },
    close() {
      this.visible = true;
    },
    exit() {
      this.logOut();
    },
    hidden() {
      this.visible = false;
    },
    showDiv() {
      this.show = !this.show;
    }
  },
  beforeMount() {
    localStorage.setItem("surveys", JSON.stringify(this.surveys));
  },
  mounted() {
    this.anyUser = JSON.parse(localStorage.getItem("loggedUser"));
    if (this.anyUser) {
      for (let index = 0; index < this.anyUser.length; index++) {
        if (!this.anyUser[index].id) {
          router.push({ name: "welcome" });
        }
      }
    } else {
      alert("Giriş Yapın");
      router.push({ name: "welcome" });
    }
  }
};
</script>
<style lang="scss" scoped>
.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 5px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: #313338;
  .buttons {
    a {
      i {
        margin-right: 5px;
      }
    }
  }
}
.navbar-brand {
  p {
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
  }
}
.menu {
  overflow-y: auto;
  float: left;
  height: 100%;
  position: fixed;
  background: #e5e5e5;
  width: 250px;
  div {
    margin-top: 5px;
    margin-bottom: 10px;
    background: #595f69;
    padding: 5px 5px;
    i {
      margin-right: 5px;
    }
    a {
      font-size: 20px;
      color: #fff;
    }
  }
  ul li {
    padding: 5px 5px;
    i {
      margin-right: 5px;
      color: gray;
      opacity: 0.7;
    }
  }
}
.modal-card-body {
  font-size: 18px;
}
.hiddenList {
  display: block;
  ul li {
    opacity: 0.7;
    padding: 1px 0px;
    a {
      padding-left: 25px;
      font-size: 13px;
    }
  }
}
</style>
