<template>
  <div class="self">
    <Home></Home>
    <div class="main-self">
      <div class="message is-success">
        <div class="message-header">
          <p>Özlük Bilgileri</p>
          <i class="fa fa-arrow-up"></i>
          <i class="fa fa-arrow-down"></i>
        </div>
        <div class="message-body"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./Home.vue";
export default {
  name: "Self",
  components: {
    Home
  },
  data() {
    return {
      identity: []
    };
  },
  methods: {},
  mounted() {
    if (JSON.parse(localStorage.getItem("identity"))) {
    } else {
      this.identity = JSON.parse(localStorage.getItem("identity"));
    }
  },
  watch: {}
};
</script>



<style lang="scss" scoped>
.main-self {
  float: right;
  width: 81%;
  margin-top: 50px;
  padding: 5px 5px;
}
</style>
