<template lang="html">
  <div class="survey">
    <Home></Home>
    <div class="main-survey">
      <div class="message is-info">
        <div class="message-header">
          <p>Anketler</p>
        </div>
        <div class="message-body">
          <div class="surveys">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <td>Ders Adı</td>
                  <td>Anket Adı</td>
                  <td>Başlangıç Tarihi</td>
                  <td>Bitiş Tarihi</td>
                  <td>Durum</td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(j,index) in listOfSurveys" @click="data(index)">
                  <td> {{j.name}} </td>
                  <td> {{j.surveyName}} </td>
                  <td> {{j.startDate}} </td>
                  <td> {{j.endDate}} </td>
                  <td> 
                    <span v-if="!j.complate" class="times"><i class="fa fa-times"></i></span> 
                    <span v-if="j.complate" class="check"><i class="fa fa-check"></i></span> 
                  </td>
                </tr>
                <div class="modal is-active" v-if="show">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head">
                        <p class="modal-card-title">Sorular</p>
                        <button class="delete" aria-label="close" @click="close"></button>
                      </header>
                      <div class="modal-card-body">
                        <table>
                          <tr v-for="(i,index) in survey.quests">
                            {{index+1}}.{{i.name}}
                            <div class="quests">
                              <label>Kötü</label><input :name="'name'+index" value="1"  type="radio" v-model="i.choosen"/>
                              <label>Kötü Değil</label><input :name="'name'+index" value="2"  type="radio" v-model="i.choosen"/>
                              <label>Normal</label><input :name="'name'+index" value="3"  type="radio" v-model="i.choosen"/>
                              <label>İyi</label><input :name="'name'+index" value="4" type="radio" v-model="i.choosen"/>
                              <label>Çok İyi</label><input :name="'name'+index" value="5"  type="radio"v-model="i.choosen"/>
                            </div>
                          </tr>
                        </table>
                        <div v-if="err" class="message is-danger">
                          <div class="message-body">
                            Tüm soruları lütfen cevaplayınız.
                          </div>
                        </div>
                      </div>
                      <footer class="modal-card-foot">
                        <button class="button is-success" @click="done(survey.name)" v-if="time==0">Kaydet</button>
                        <button class="button is-success" disabled v-if="time!=0">Kaydet</button>
                        <button class="button" @click="close">İptal</button>
                        <label class="time"> {{time}} </label>
                      </footer>
                    </div>
                  </div>
              </tbody>
            </table>   
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Home from "./Home.vue";
export default {
  name: "Survey",
  components: {
    Home
  },
  data() {
    return {
      time: 59,
      show: false,
      users: [],
      loggedUser: [],
      survey: [],
      err: false
    };
  },
  methods: {
    close() {
      // popup kapatma
      this.show = !this.show;
      this.survey = [];
    },
    data(j) {
      // seçilmiş anketi yükleme
      this.time = 1;
      this.show = true;
      var x = this.loggedUser[0].lessons[0][j];
      this.survey = x;
    },
    done(s) {
      // anket tamamlama
      var count = 0;
      var index = this.loggedUser[0].lessons[0]
            .map(function(e) {
              return e.name;
            })
            .indexOf(s);
            console.log(index,s)
      for (let i = 0; i < this.survey.quests.length; i++) {
        var a = this.survey.quests[i].choosen;
        if (a == "") {
          this.err = true;
          setTimeout(() => {
            this.err = false;
          }, 3000);
        } else {
          this.loggedUser[0].lessons[0][index].quests[i].choosen = a;
          count++;
        }
      }
      if(count == this.loggedUser[0].lessons[0][index].quests.length){
       this.survey.complate = true;
       this.loggedUser[0].lessons[0][index] = this.survey
       this.show = false;
       localStorage.setItem('loggedUser',JSON.stringify(this.loggedUser)) 
      }else{
        this.err = true
        setTimeout(() => {
            this.err = false;
          }, 3000);
      }
    }
  },
  beforeMount() {
    this.loggedUser = JSON.parse(localStorage.getItem("loggedUser"));
    this.users = JSON.parse(localStorage.getItem("users"));
    localStorage.setItem("surveys", JSON.stringify(this.surveys));
  },
  watch: {
    users(newValue) {
      localStorage.setItem("users", JSON.stringify(newValue));
    },
    time(newValue) {
      // butonu açan timer
      if (this.time != 0) {
        setTimeout(() => {
          this.time--;
        }, 1000);
      }
    },
    surveys(newValue) {
      localStorage.setItem("surveys", JSON.stringify(newValue));
    }
  },
  computed:{
    listOfSurveys(){
      return this.loggedUser[0].lessons[0]
    }
  }
};
</script>

<style lang="scss" scoped>
.times{
  margin-left:25px;
  color:red;
}
.check{
  margin-left:25px;
  color:green;
}
.label {
  margin-left: 400px;
}
.ea-quest {
  max-height: 700px;
  overflow-y: scroll;
}
.questions {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
  span {
    font-size: 15px;
    font-weight: bold;
  }
  div {
    input {
      margin-right: 58px;
      position: relative;
      top: 2px;
      width: 15px;
    }
    label {
      margin-right: 5px;
    }
  }
}
.clear {
  clear: both;
}
.main-survey {
  float: right;
  width: 81%;
  margin-top: 50px;
  padding: 5px 5px;
}
.survey-subject {
  background: #e5e5e5;
  height: 40px;
  ul li {
    float: left;
    line-height: 40px;
    padding: 0px 5px;
    border-right: 1px solid #ccc;
    text-align: center;
    &:nth-child(5n) {
      border-right: none;
    }
  }
  .lesson {
    width: 20%;
  }
  .survey-name {
    width: 25%;
  }
  .start-date {
    width: 25%;
  }
  .end-date {
    width: 20%;
  }
  .status {
    width: 10%;
  }
}
.survey-list {
  &:last-child {
    border-bottom: none;
  }
  border: 1px solid #ccc;
  border-top: none;
  .first-ul {
    li {
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      float: left;
      line-height: 40px;
      padding: 0px 5px;
      border-right: 1px solid #ccc;
      text-align: left;
      &:nth-child(5n) {
        border-right: none;
      }
    }
  }
  .lesson {
    text-align: center;
    width: 19.9%;
  }
  .survey-name {
    width: 25.05%;
    text-align: center;
  }
  .start-date {
    span {
      margin-left: 37%;
    }
    width: 25.05%;
  }
  .end-date {
    span {
      margin-left: 37%;
    }
    width: 20%;
  }
  .status {
    text-align: center;
    width: 10%;
    .fa-window-close {
      color: red;
      font-size: 25px;
      position: relative;
      top: 5px;
      left: 40%;
    }
    .fa-check-square {
      color: green;
      font-size: 25px;
      position: relative;
      top: 5px;
      left: 41%;
    }
  }
}
.modal-card-foot {
  label {
    color: red;
    font-weight: bold;
    margin-left: 430px;
  }
}
.quests {
  input {
    position: relative;
    top: 1.1px;
    margin-left: 5px;
  }
}
</style>
