<template lang="html">
  <div>
    <div class="a">
      <Home></Home>
    </div>
    <div class="lesson">
      <div class="message is-warning">
        <div class="message-header">
          <p>Ders Ekle</p>
        </div>
        <div class="message-body">
          <div class="each-lesson" v-if="show">
            <div v-if="this.periodOfLesson.length>0">
              <h1>Dönem Dersleri</h1>
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Ders Adı</th>
                    <th>Sınıf</th>
                    <th>AKTS</th>
                    <th>Durum</th>
                  </tr>
                </thead>
                <tbody> <!-- Dönemlik Dersler -->
                  <tr v-for="(i,index) in periodOfLesson">
                    <td>
                      {{i.name}}
                    </td>
                    <td>
                      {{i.class}}
                    </td>
                    <td>
                      {{i.akts}}
                    </td>
                    <td>
                      <button type="button" class="button is-primary is-small" @click="addLesson(index)" name="button"><i class="fa fa-plus"></i> Ekle</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="this.failLesson.length>0">
              <h1>Alttan Dersler</h1> <!--Alttan alınan dersler-->
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Ders Adı</th>
                    <th>Sınıf</th>
                    <th>AKTS</th>
                    <th>Durum</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(i,index) in failLesson">
                    <td>
                      {{i.name}}
                    </td>
                    <td>
                      {{i.class}}
                    </td>
                    <td>
                      {{i.akts}}
                    </td>
                    <td>
                      <button type="button" class="button is-primary is-small" @click="addlesson(index)" name="button"><i class="fa fa-plus"></i> Ekle</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="this.takesLessons.length != 0">
              <h1>Alınan Tüm Dersler</h1> <!-- Alınan tüm dersler-->
              <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>Ders Adı</th>
                    <th>Sınıf</th>
                    <th>AKTS</th>
                    <th>Durum</th>
                  </tr>
                </thead>
                <!-- Seçilmiş Dersler -->
                <tbody>
                  <tr v-for="(i,index) in takesLessons">
                    <td>{{i.name}}</td>
                    <td> {{i.class}} </td>
                    <td> {{i.akts}} </td>
                    <td> <button type="button" class="button is-danger is-small" @click="removeLesson(index,i.tip)" name="button"><i class="fa fa-minus"></i>Çıkar</button> </td>
                  </tr>
                  <tr v-if="this.takesLessons.length>0">
                    <td></td>
                    <td></td>
                    <td>Toplam Akts : {{totalAkts}} </td>
                    <td>
                      <button class="button is-primary is-small" @click="showPopUp">Kaydet</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="" v-if="!show">
              Ders Kayıt 24-30 Eylül arasında gerçekleşmektedir.
          </div>
          <div v-if="this.a==true">
            Ders kaydınız önceden yapılmıştır.
          </div>
          <div class="modal is-active" v-if="lastChange">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Ders Kayıt</p>
                <button class="delete" aria-label="close" @click="close"></button>
              </header>
              <section class="modal-card-body">
                Bu işlemin geri dönüşü yok? Emin Misiniz ? 
              </section>
              <footer class="modal-card-foot">
                <button class="button is-danger" @click="logToUser">Kaydet</button>
                <button class="button" @click="close">İptal</button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./Home.vue";
import router from "../router";
export default {
  name: "takeALesson",
  components: {
    Home
  },
  data() {
    return {
      a: false,
      lastChange: false,
      users: [],
      show: true,
      period: "",
      takesLessons: [],
      failLesson: [],
      periodOfLesson: [],
      class: "",
      loggedUser: [],
      lessons: [
        {
          name: "Mat101",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 6
        },
        {
          name: "Otomata",
          class: 2,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 6
        },
        {
          name: "Mat101",
          class: 3,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 6
        },
        {
          name: "Otomata",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 6
        },
        {
          name: "Mat102",
          class: 3,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 6
        },
        {
          name: "Bilgisayar Mühendisliğine Giriş",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 5
        },
        {
          name: "Lineer Cebir",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 4
        },
        {
          name: "Mat101",
          class: 2,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 4
        },
        {
          name: "Mat101",
          class: 2,
          period: "Bahar",
          lessonId: "İnşaat Mühendisliği",
          akts: 3
        },
        {
          name: "Mat101",
          class: 3,
          period: "Bahar",
          lessonId: "İnşaat Mühendisliği",
          akts: 3
        },
        {
          name: "Mat101",
          class: 3,
          period: "Bahar",
          lessonId: "Makina Mühendisliği",
          akts: 3
        },
        {
          name: "Lineer Cebir",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 3,
          akts: 4
        },
        {
          name: "Algoritmalar",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 4
        },
        {
          name: "Mantıksal Devre ve Analizi",
          class: 1,
          period: "Güz",
          lessonId: "Bilgisayar Mühendisliği",
          akts: 4
        }
      ]
    };
  },
  beforeMount(){
    localStorage.setItem('failedLesson',JSON.stringify(this.failLesson))
  },
  mounted() {
    // Ders kaydı yapılmamiş
    this.loggedUser = JSON.parse(localStorage.getItem("loggedUser"));
    localStorage.setItem("lessons", JSON.stringify(this.lessons));
    if (this.loggedUser[0].lessons != "") {
      this.a = true;
    } else {
      // Ders kaydı yapılmamış
      this.users = JSON.parse(localStorage.getItem("users"));
      
      if (this.takesLessons == null) {
      } else {
        localStorage.setItem("takesLessons", JSON.stringify(this.takesLessons));
        this.takesLessons = JSON.parse(localStorage.getItem("takesLessons"));
        this.whatIsPeriod();
        this.eachLesson();
        this.failedLesson();
        this.updateUser();
      }
    }
    // this.periodIsCame();
  },
  methods: {
    close() {
      // popupı kapatır
      this.lastChange = false;
    },
    removeLesson(i, tip) {
      // ders silme
      if (tip == "alttan") {
        // alttan mı diye kontrol eder
        var a = this.takesLessons.splice(i, 1);
        this.failLesson.push({
          name: a[0].name,
          akts: a[0].akts,
          class: a[0].class
        });
      } else {
        var a = this.takesLessons.splice(i, 1);
        this.periodOfLesson.push({
          name: a[0].name,
          akts: a[0].akts,
          class: a[0].class
        });
      }
    },
    logToUser() {
      // ders kayıt işlemi
      var x = this.calculateAkts();
      var y = this.failedLesson();
      if (y.length == 0) {
        console.log('alttan ders yok')
        if (x < 45) {
          this.loggedUser[0].lessons.push(this.takesLessons);
          localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
          this.lastChange = false;
          this.updateUser();
          router.push("/document");
        } else {
          alert("AKTS Sınırına takıldınız.");
        }
      } else {
        alert("Alttan olan derslerin hepsini seçin..");
        this.lastChange = false;
        this.takesLessons = [];
      }
    },
    showPopUp() {
      this.lastChange = true;
    },
    addlesson(i) {
      // alttan alınan dersin eklenmesi
      var x = this.calculateAkts();
      if (this.takesLessons != []) {
        if (x < 45) {
          // akts kontrolü
          this.takesLessons.push(this.failLesson[i]);
          this.failLesson.splice(i, 1);
        } else {
          alert(this.periodOfLesson);
        }
      } else {
        this.takesLessons.push(this.failLesson[i]);
        this.failLesson.splice(i, 1);
      }
    },
    addLesson(i) {
      // ders ekleme
      var x = this.calculateAkts();
      if (this.takesLessons != []) {
        if (x < 45) {
          // akts kontrolü
          this.takesLessons.push(this.periodOfLesson[i]);
          this.periodOfLesson.splice(i, 1);
        }
      } else {
        this.takesLessons.push(this.periodOfLesson[i]);
        this.periodOfLesson.splice(i, 1);
      }
    },
    updateUser() {
      // usersı güncelleme
      for (let index = 0; index < this.users.length; index++) {
        if (this.loggedUser[0].id == this.users[index].id) {
          this.users[index] = this.loggedUser[0];
          localStorage.setItem("users", JSON.stringify(this.users));
        }
      }
    },
    calculateAkts() {
      // akts sınırını kontrol ediyor
      var totalAkts = 0;
      for (var i = 0; i < this.takesLessons.length; i++) {
        var a = this.takesLessons[i].akts;
        totalAkts += a;
      }
      return totalAkts;
    },
    periodIsCame() {
      // ders ekle bırak başladımı
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      if (mm == 10 && dd > 24 && dd <= 30) {
        // 24 eylül 30 eylül arasında
        this.show = true;
      } else {
        this.show = false;
      }
    },
    failedLesson() {
      // alttan aldıgı dersler
      if (this.loggedUser[0].failedLessons.length>0) {
        console.log(this.loggedUser[0].failedLessons.length)
        for (var i = 0; i < this.loggedUser[0].failedLessons.length; i++) {
          this.failLesson.push({
            name: this.loggedUser[0].failedLessons[i].name,
            akts: this.loggedUser[0].failedLessons[i].akts,
            class: this.loggedUser[0].failedLessons[i].class,
            tip: this.loggedUser[0].failedLessons[i].tip
          });
        }
        return this.failLesson;  
      }else{
        this.failLesson = []
        return this.failLesson
      }
      
      
    },
    eachLesson() {
      // ders,bölüm kontrolü
      if (this.period == "Güz") {
        // dönemi güz olan dersleri getir
        for (var i = 0; i < this.lessons.length; i++) {
          if (
            this.loggedUser[0].class == this.lessons[i].class &&
            this.loggedUser[0].segment == this.lessons[i].lessonId
          ) {
            // sınıfı ve bölüm kontrolü
            var lessonName = this.lessons[i].name;
            this.periodOfLesson.push({
              name: lessonName,
              akts: this.lessons[i].akts,
              class: this.lessons[i].class,
              lessonId: this.lessons[i].lessonId,
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            });
          }
        }
      } else {
        // dönemi bahar olan dersleri getir
        for (var i = 0; i < this.lessons.length; i++) {
          if (
            this.loggedUser[0].class == this.lessons[i].class &&
            this.loggedUser[0].segment == this.lessons[i].lessonId
          ) {
            // sınıfı ve bölüm kontrolü
            var lessonName = this.lessons[i].name;
            this.periodOfLesson.push({
              name: lessonName,
              akts: this.lessons[i].akts,
              class: this.lessons[i].class,
              lessonId: this.lessons[i].lessonId
            });
          }
        }
      }
    },
    whatIsPeriod() {
      var today = new Date(); // full tarih
      var mm = today.getMonth() + 1; //January is 0! şuanki ay
      if (mm <= 12 && mm >= 9) {
        // güz ayları 9-10-11-12
        this.period = "Güz";
      } else {
        this.period = "Bahar";
      }
    }
  },
  watch: {
    failLesson(newValue) {
      localStorage.setItem("failedLessons", JSON.stringify(newValue));
    },
    takesLessons(newValue) {
      localStorage.setItem("takesLessons", JSON.stringify(newValue));
    },
    periodOfLesson(newValue) {
      localStorage.setItem("periodOfLesson", JSON.stringify(newValue));
    }
  },
  computed: {
    totalAkts() {
      // toplam akts yi element haline getirir
      var x = this.calculateAkts();
      return x;
    }
  }
};
</script>

<style lang="scss" scoped>
.each-lesson {
  h1 {
    font-size: 15px;
    margin-bottom: 10px;
    border-bottom: 5px solid hsl(171, 100%, 41%);
    width: 150px;
  }
}
.lesson {
  float: right;
  width: 81%;
  margin-top: 50px;
  padding: 5px 5px;
}
.button {
  i {
    margin-right: 5px;
    font-size: 10px;
  }
}
</style>
