<template>
  <div id="welcome">
    <div class="modal is-active" v-if="forgetPassClick">
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Şifremi Unuttum</p>
          <button class="delete" aria-label="close" @click="forgetPassClick=false"></button>
        </header>
        <section class="modal-card-body">
          <p>
            Türkiye Cumhuriyeti Vatandaşlık numaranızı kimseyle paylaşmayın.Aksi taktirde mailinizi bilen kişiler
            şifenize ulaşabilir ve istenmeyen sonuçlara sebep olabilir.
          </p>

          <div>
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <input class="input" type="text" placeholder="Tc kimlik numarası" v-model="tc">
          </div>
          <div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <input class="input" type="text" placeholder="Email adresi" v-model="email">
          </div>
          <div class="notification is-success" v-if="showPass">
            <label id="err-msg" for>Şifreniz : {{secretedPass}}</label>
          </div>
          <div class="notification is-danger" v-if="showError">
            <ul>
              <li v-for="(error,index) in errors2" :key="index">{{error}}</li>
            </ul>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-danger" @click="findPass">Şifremi Bul</button>
          <button class="button" @click="forgetPassClick=false">İptal</button>
        </footer>
      </div>
    </div>
    <div>
      <img src="https://ogrenciportal.kku.edu.tr/Images/kku.png" alt>
      <div class="purpose">AKADEMİK KAYIT SİSTEMİ</div>
      <div class="uni">KIRIKKALE ÜNİVERSİTESİ</div>
      <div class="form">
        <div class="form-control">
          <i class="fa fa-user-circle-o"></i>
          <input type="text" placeholder="Öğrenci Numarası" v-model="id" required>
        </div>
        <div class="form-control">
          <i class="fa fa-key"></i>
          <input type="password" placeholder="Şifre" v-model="pass" required>
        </div>
        <div class="form-control">
          <button @click="login">Giriş Yap</button>
        </div>
        <div class="form-control">
          <label @click="forgetPass">
            <i class="fa fa-lock kilit"></i>
            Şifremi Unuttum
          </label>
        </div>
        <div class="user-error" v-if="visible">
          <ul>
            <li v-for="(error,index) in errors" :key="index">{{error}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from "../router";
export default {
  name: "welcome",
  data() {
    return {
      identity: [
        {
          name: "Erkan",
          surname: "Çalışkan",
          fatherN: "Aşır",
          motherN: "Sevgi",
          tc: [
            {
              bDate: "17.07.1996",
              bPlace: "Yenimahalle",
              gender: "Erkek",
              status: "Bekar",
              bCity: "Nevşehir",
              bTown: "Gülşehir",
              bVillage: "Karacahüyük",
              fNo: "1234",
              id: "123456789",
              bNo: "10234"
            }
          ],
          sId: "140255045",
          img:
            "https://scontent.fbtz1-7.fna.fbcdn.net/v/t1.0-9/14601038_1217100155030348_3449372460899632010_n.jpg?_nc_cat=111&_nc_ht=scontent.fbtz1-7.fna&oh=125e9a5fd4aa512331fcbeafba6a793e&oe=5C82AAEE"
        }
      ],
      docs: [],
      counter: 0,
      errors: [],
      errors2: [],
      visible: false,
      users: [
        {
          id: "140255045",
          password: "72465091Be",
          segment: "Bilgisayar Mühendisliği",
          class: 1,
          email: "a@gmail.com",
          lessons: [
            {
              id: 0,
              name: "Mat101",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "25",
              final: "50",
              endExam: "44",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 1,
              name: "Bilgisayar Tasarım ve Organizasyonu",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "66",
              final: "25",
              endExam: "44",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ],
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 2,
              name: "Lineer Cebir",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "55",
              final: "34",
              endExam: "60",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 3,
              name: "Algoritma",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "90",
              final: "60",
              endExam: "",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 4,
              name: "Veri Yapıları",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "50",
              final: "50",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 5,
              name: "Veri İletişimi",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "60",
              final: "50",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 6,
              name: "Mat 102",
              akts: 5,
              class: 2,
              tip: "alttan",
              midterm: "50",
              final: "50",
              endExam: "77",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            }
          ],
          failedLessons: [
            {
              id: 7,
              name: "Mat 102",
              akts: 5,
              class: 2,
              tip: "alttan",
              midterm: "",
              final: "",
              endExam: "",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            }
          ],
          passedLessons: [],
          tc: "1",
          name: "Erkan",
          surname: "Çalışkan",
          docs: []
        },
        {
          id: "1",
          password: "1",
          email: "a@gmail.com",
          tc: "1",
          segment: "Bilgisayar Mühendisliği",
          lessons: [
            {
              id: 0,
              name: "Mat101",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "15",
              final: "10",
              endExam: "44",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 1,
              name: "Bilgisayar Tasarım ve Organizasyonu",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "66",
              final: "25",
              endExam: "44",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 2,
              name: "Lineer Cebir",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "55",
              final: "34",
              endExam: "60",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 3,
              name: "Algoritma",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "90",
              final: "60",
              endExam: "",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 4,
              name: "Veri Yapıları",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "30",
              final: "20",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 5,
              name: "Veri İletişimi",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "20",
              final: "50",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 6,
              name: "Mat 102",
              akts: 5,
              class: 2,
              tip: "alttan",
              midterm: "50",
              final: "50",
              endExam: "77",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            }
          ],
          failedLessons: [],
          passedLessons: [],
          class: 1,
          name: "Erkan",
          surname: "Çalışkan",
          docs: []
        },
        {
          id: "2",
          password: "2",
          email: "a@gmail.com",
          tc: "1",
          segment: "İnşaat Mühendisliği",
          lessons: [
            {
              id: 0,
              name: "Mat101",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "55",
              final: "10",
              endExam: "44",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 2,
              name: "Lineer Cebir",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "55",
              final: "34",
              endExam: "60",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 3,
              name: "Algoritma",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "90",
              final: "60",
              endExam: "",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 4,
              name: "Veri Yapıları",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "50",
              final: "50",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 5,
              name: "Veri İletişimi",
              akts: 5,
              class: 1,
              tip: "Dönem",
              midterm: "60",
              final: "50",
              endExam: "70",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            },
            {
              id: 6,
              name: "Mat 102",
              akts: 5,
              class: 2,
              tip: "alttan",
              midterm: "50",
              final: "50",
              endExam: "77",
              note: "",
              surveyName: "Öğretim Görevlesi Puanlama",
              startDate: "15.05.2018",
              endDate: "21.10.2018",
              complate: false,
              quests: [
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                },
                {
                  name:
                    "Sizce toplumumuzda bilime en çok ilgi duyan kadınlar mı, yoksa erkekler midir?",
                  choosen: ""
                }
              ]
            }
          ],
          failedLessons: [],
          passedLessons: [],
          class: 2,
          name: "Erkan",
          surname: "Çalışkan",
          docs: []
        },
        {
          id: "3",
          password: "3",
          email: "a@gmail.com",
          tc: "1",
          segment: "Bilgisayar Mühendisliği",
          lessons: [],
          failedLessons: [],
          passedLessons: [],
          class: 2,
          name: "Erkan",
          surname: "Çalışkan",
          docs: []
        }
      ],
      loggedUser: [],
      id: null,
      pass: null,
      tc: "",
      email: "",
      hasUser: false,
      anyUser: [],
      forgetPassClick: false,
      disable: false,
      myPass: [],
      secretedPass: "",
      showPass: false,
      showError: false
    };
  },
  methods: {
    login() {
      var people = JSON.parse(localStorage.getItem("users" || this.users));
      this.hasUser = false;
      for (let index = 0; index < people.length; index++) {
        if (
          people[index].id === this.id &&
          people[index].password === this.pass
        ) {
          this.loggedUser.push(people[index]);
          if (this.loggedUser.length > 1) {
            this.loggedUser = this.loggedUser[
              this.loggedUser[this.loggedUser.length - 1]
            ];
          } else {
            localStorage.setItem("loggedUser", JSON.stringify(this.loggedUser));
            this.hasUser = true;
            router.push({ name: "home" });
            break;
          }
        }
      }
      if (!this.id && !this.pass) {
        this.counter++;
        this.hasUser = true;
        this.visible = true;
        this.id = "";
        this.pass = "";
        this.errors.push("Ögrenci numarası ve şifre boş olamaz.");
        if (this.counter > 1) {
          this.errors.splice(0, this.errors.length);
          this.errors.push("Ögrenci numarası ve şifre boş olamaz.");
        }
        setTimeout(() => {
          this.visible = false;
        }, 2000);
      }
      if (!this.id && this.pass) {
        this.counter++;
        this.id = "";
        this.pass = "";
        this.hasUser = true;
        this.visible = true;
        this.errors.push("Ögrenci numarası boş olamaz.");
        if (this.counter > 1) {
          this.errors.splice(0, this.errors.length);
          this.errors.push("Ögrenci numarası boş olamaz.");
        }
        setTimeout(() => {
          this.visible = false;
        }, 2000);
      }
      if (!this.pass && this.id) {
        this.counter++;
        this.id = "";
        this.pass = "";
        this.hasUser = true;
        this.visible = true;
        this.errors.push("Şifre boş olamaz.");
        if (this.counter > 1) {
          this.errors.splice(0, this.errors.length);
          this.errors.push("Şifre boş olamaz.");
        }
        setTimeout(() => {
          this.visible = false;
        }, 2000);
      }
      if (this.hasUser == false) {
        this.counter++;
        this.id = "";
        this.pass = "";
        this.visible = true;
        this.errors.push("Ögrenci numarası yada şifre yanlış");
        if (this.counter > 1) {
          this.errors.splice(0, this.errors.length);
          this.errors.push("Ögrenci numarası yada şifre yanlış");
        }
        setTimeout(() => {
          this.visible = false;
        }, 2000);
      }
    },
    forgetPass() {
      this.forgetPassClick = true;
    },
    findPass() {
      this.myPass = JSON.parse(localStorage.getItem("users"));
      for (let index = 0; index < this.myPass.length; index++) {
        if (
          this.tc == this.myPass[index].tc &&
          this.email == this.myPass[index].email
        ) {
          this.secretedPass = this.myPass[index].tc;
          this.showPass = true;
          setTimeout(() => {
            this.showPass = false;
          }, 3000);
          break;
        } else if (!this.tc && this.email) {
          this.errors2.push("TC boş olamaz");
          this.showError = true;
          this.tc = "";
          this.email = "";
          if (this.errors2.length > 1) {
            this.errors2.splice(0, this.errors2.length);
            this.errors2.push("TC boş olamaz.");
          }
          setTimeout(() => {
            this.showError = false;
          }, 2000);
          break;
        } else if (this.tc && !this.email) {
          this.errors2.push("Email boş olamaz");
          this.showError = true;
          this.tc = "";
          this.email = "";
          if (this.errors2.length > 1) {
            this.errors2.splice(0, this.errors2.length);
            this.errors2.push("Email boş olamaz");
          }
          setTimeout(() => {
            this.showError = false;
          }, 2000);
          break;
        } else if (!this.tc && !this.email) {
          this.errors2.push("TC ve email boş olamaz");
          this.showError = true;
          this.tc = "";
          this.email = "";
          if (this.errors2.length > 1) {
            this.errors2.splice(0, this.errors2.length);
            this.errors2.push("TC ve email boş olamaz");
          }
          setTimeout(() => {
            this.showError = false;
          }, 2000);
          break;
        } else {
          this.errors2.push("TC veya email yanlış");
          this.showError = true;
          this.tc = "";
          this.email = "";
          if (this.errors2.length > 1) {
            this.errors2.splice(0, this.errors2.length);
            this.errors2.push("TC veya email yanlış");
          }
          setTimeout(() => {
            this.showError = false;
          }, 2000);
          break;
        }
      }
    }
  },
  mounted() {
    if (localStorage.getItem("users")) {
      localStorage.setItem("identity", JSON.stringify(this.identity));
      if (localStorage.getItem("users").length < 1) {
        localStorage.setItem("users", JSON.stringify(this.users));
        localStorage.setItem("identity", JSON.stringify(this.identity));
      }
    } else {
      localStorage.setItem("users", JSON.stringify(this.users));
      localStorage.setItem("identity", JSON.stringify(this.identity));
    }
  },
  watch: {
    users(newValue) {
      localStorage.setItem("users", JSON.stringify(newValue));
    }
  }
};
</script>

<style lang="scss" scoped>
div {
  .modal {
    margin-bottom: 60px;
  }
  .notification {
    width: 340px;
    margin-left: 10px;
    padding: 5px 5px;
    text-align: center;
  }
  .modal-card {
    width: 400px;
    height: 420px;
    div {
      &:nth-child(2n-2) {
        margin-top: 20px;
      }
      position: relative;
      margin-top: 10px;
      input {
        text-indent: 30px;
        width: 340px;
        margin-left: 10px;
      }
      i {
        position: absolute;
        z-index: 99;
        font-size: 18px;
        color: gray;
        bottom: 7px;
        margin-left: 20px;
      }
    }
  }
  .modal-card-body {
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    p {
      width: 330px;
      margin-left: 15px;
    }
  }
}
#welcome {
  width: 400px;
  margin: 100px auto;
  border-top: 5px solid #00e2fb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  img {
    margin-top: 10px;
    margin-left: 50px;
  }
  .purpose {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .uni {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
  .form {
    margin-top: 20px;
  }
  .form-control {
    margin-top: 10px;
    text-align: center;
    position: relative;
    &:nth-child(4n) {
      margin-bottom: 30px;
    }
    input {
      padding: 5px 5px;
      text-indent: 30px;
      width: 300px;
      outline-color: #00e2fb;
      color: #000;
    }
    i {
      font-size: 15px;
      color: gray;
      margin-top: 9px;
      margin-left: 15px;
      position: absolute;
    }
    button {
      width: 305px;
      cursor: pointer;
      border-radius: 3px;
      outline: none;
      color: #fff;
      background: #ff2b56;
      height: 40px;
      font-size: 16px;
      border: none;
    }
    label {
      margin-left: -215px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .kilit {
      position: relative;
    }
  }
  .user-error {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    padding: 5px 5px;
    width: 308px;
    border-radius: 3px;
    margin-left: 45px;
    background: #ff2b56;
  }
}
</style>
