<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  
}
</script>

<style lang="scss">
*{
  font-size: 14px;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  font-family: 'Niramit', sans-serif;
}
</style>
